*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-size:25px;
  margin:0;
}

/*-----header styling-----------*/
header{
  background-color: white;
  margin:0;
  border-bottom: 1px solid black;
}

header li{
  display: inline-block;
  /* border:  solid black; */
  padding: 10px;
  padding-right: 55px;
  margin-right: 0;
}

header li a{
  color:black;
  text-decoration:none;
}
.float-right{
  float:right;
}
#shopping-cart{
  float:right;
  height:3rem;
  width:3rem;
  margin-right: 1rem;
}
#shopping-cart img{
  position: absolute;
  top:0;
  height:3rem;
  width:3rem;
}
#shopping-cart:focus, #shopping-cart:hover{
  cursor: pointer;
}
#user_signin img{
  position: absolute;
  margin-top: 0;
  top: 0;
  height:3rem;
  width:3rem;
}
#user_signin:focus,
#user_signin:hover {
  cursor: pointer;
} 
/* ---------index styling--------- */
/* --------form styling------- */
form {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

form select{
  margin-left: 4rem;
  margin-right: 1rem;
  height:2rem;
  width: 25%;
}

form input[type="search"]{
  width: 45%;
  height:2rem;
}

form button{
  margin-left: 15px;
  height:30px;
  width: 100px;
}
.row-1, .row-2{
  margin-top: 15px;
  border-bottom: 1px solid black;
}
.row-3{
  margin-top: 15px;
}

/* ------ php styling------- */
.home-topics{
  margin-top:1.5rem;
}
/* ------slide gallery styling------ */
.gallery-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.gallery {
  /* to align gallery, left and right button in one line */
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
  
  /* to remove white space in between elements */
  white-space: nowrap;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left:3.5rem;
  width:90%;
  justify-content: center;
}
.gallery::-webkit-scrollbar{
  height:0;
  width: 0;
}

.gallery-item {
  border: 1px solid black;
  /*to prevent the line after the element */
  display: inline-block;
  box-sizing: border-box;
  width: 20rem;
  height: 20rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.gallery-item img{
  width: 19rem;
  height: 15rem;
}
#arrow-sign {
  width: 1.5rem;
  height: 1.5rem;

}
.left, .right {
  position:absolute;
  margin-top: 8%;
  height:10rem;
  width: 2rem;
  display: inline-block;
}
.left {
  left:1.5rem;
}
.right {
  float:right;

  transform: rotate(180deg);
}

/* ----------------  css for the modal ----------- */
/* The Modal (background) */
.modal {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2rem; /* Location of the box */
  padding-bottom : 2rem;
  margin-bottom: 4rem;
  left: 0;
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /*Fallback color */
  background-color: rgba(0,0,0,0.4);/* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 80%;
  font-size: 85%;
}

/* mandatory, without this both sides will overflow */
.modal-content::after {
  content: "";
  clear: both;
  display: table;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content-left, .modal-content-right  {
  float: left;
  width: 50%;
  height: 80%;
  padding: 0.5rem;

}
.modal-content-left{
  margin-top: 2.1rem;
}
#modal-img {
  width: 100%;
  height: 100%;
}

.modal-item-name {
}

.modal-description {
  padding: 1rem;
}
.modal-amount-price {
 padding-left: 1rem;
}

.modal-amount {
}

.modal-amount-measurement {
  padding: 1rem;
}
.add-cart-btn {
  width: 50%;
  border-radius: 0.2rem;
  background-color: white;
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 1rem;
  font-size :85%;
}
/* -----signin modal---------- */
.signin-modal { /* this is that black background of the modal */
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}
.signin-modal-content {
  border: 1px solid black;
  width: 25%;
  height: auto;
  margin-left: 40%;
  margin-top: 5rem; 
  padding-left: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  font-size: 100%;
}
.signin-close {
  top: 0;
  float: right;
  padding: 0.5rem;
  cursor: pointer;
}
.signin-close:hover,
.signin-close:focus {
  color: black;
  cursor: pointer;

}

.signin-modal-content h2 {
  margin-top: 1rem;
}

.signin-username-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.signin-username, .signin-password {
  width: 15rem;
  height: auto;
  padding: 0.3rem;
  font-size: 60%;
}

.signin-password-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.signin-btn {
  margin-top: 0.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  width:10rem;

}

/* ---------- cart-modal styling ----------*/
.cart-modal { /* this is that black background of the modal */
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}
.cart-modal-content {
  border: 1px solid black;
  width: 25%;
  height: auto;
  margin-left: 40%;
  margin-top: 5rem; 
  padding-left: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  font-size: 100%;
}

.cart-items-block {

}

.cart-item-block {

}

.cart-item-img {

}
.cart-item-name {

}

.cart-item-quantity {

}

.cart-item-price {

}

.cart-modal-close {
  top: 0;
  float: right;
  padding: 0.5rem;
  cursor: pointer;
}

.cart-modal-close:hover,
.cart-modal-close:focus {
  color: black;
  cursor: pointer;
}

.cart-modal-content h2 {
  margin-top: 1rem;
}

.cart-item-remove-btn {
  margin-top: 0.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  width:10rem;
}


/* --------- profile-modal styling -------- */
#profile-modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.329);
  z-index: -1;
}
#profile-modal img{
  position: absolute;
  margin-top: 0;
  top: 0;
  height:3rem;
  width:3rem;
}
#profile-modal:focus,
#profile-modal:hover {
  cursor: pointer;
} 


.profile-info {
  position: absolute;
  width:100rem;
  height:150rem;
  background-color: white;
  border: 1px solid black;
}
.profile-info img {
  width: 50rem;
  height: 50rem;
  float: left;
}

.profile-list{
  font-size: 30%;
}

.profile-list ul {

}

.profile-list li {

}

.profile-modal button{
  width: 80%;
  padding: 3%;
  border: 1px solid black;
  height: 3rem;
}

/*-------alert modal styling-------*/
.alert-modal { /* this is that black background of the modal */
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}
.alert-modal-content {
  border: 1px solid black;
  width: 25%;
  height: auto;
  margin-left: 40%;
  margin-top: 5rem; 
  padding-left: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  font-size: 100%;
}
.alert-modal-msg {
  
}
.alert-close {
  top: 0;
  float: right;
  padding: 0.5rem;
  cursor: pointer;
}
.alert-close:hover,
.alert-close:focus {
  color: black;
  cursor: pointer;
}

.alert-modal-content h2 {
  margin-top: 1rem;
}

.alert-btn {
  margin-top: 0.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  width:10rem;
}
/*-----footer styling-----------*/
footer{
  text-align: center;
  font-size: 20px;
  border-top: 1px solid black;
 margin-bottom: 2rem;
}

footer li{
  display: inline-block;
  /* border: 1px solid black; */
  padding: 10px;
}

footer li a{
  color:black;
  text-decoration:none;
  margin-left: 60px;
}

footer li a:hover{
  color:rgb(131, 131, 131);
}

footer ul li img{
  width:30px;
  height:30px;
  margin-left: -15px; 
}

footer ul li img:hover{
 text-decoration: none;
}

footer h5{
  margin-left:85px;
  color:rgb(117, 116, 116);
}


